body {
  /* background-color: black; */
  color: black;
}
.calc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-wrapper {
  width: 400px;
  border-radius: 16px;
}
.row {
  display: flex;
}
